<h3>Photo</h3>

<img src="data:image/png;base64, @Convert.ToBase64String(image)" alt="Photo" />

@code {
	[Parameter]
	public IBrowserFile url { get; set; }
	[Parameter]
	public byte[] image { get; set; } = default!;
}
